@import url("registration_container.css"); /* container */

.container > div{
    flex: 1;
}

.left {
    justify-content: center;
}

/* body {
    height:100%;
} */

.icon-1 {
    background: url('https://api.iconify.design/ic/baseline-looks-one.svg?color=%23ffc700') no-repeat center center / contain;
    outline: 1px solid black;
    outline-offset: -4px;
    border-radius: 0.5em;
    background-color: black;
}
.icon-2 {
    background: url('https://api.iconify.design/ic/baseline-looks-two.svg?color=%23ffc700') no-repeat center center / contain;
    /* background: url('https://api.iconify.design/ic/baseline-looks-one.svg?color=%23ffc700') no-repeat center center / contain; */
    outline: 1px solid black;
    outline-offset: -4px;
    border-radius: 0.5em;
    background-color: black;
}
.icon-3 {
    background: url('https://api.iconify.design/ic/baseline-looks-3.svg?color=%23ffc700') no-repeat center center / contain;
    /* background: url('https://api.iconify.design/ic/baseline-looks-one.svg?color=%23ffc700') no-repeat center center / contain; */
    outline: 1px solid black;
    outline-offset: -4px;
    border-radius: 0.5em;
    background-color: black;
}
.horizontal-line {
    border: #ffc700 solid 3px !important;
}

/* Verify your email title */
.sign-up-form-3 h3 {
    text-align: center;
}


.right .right-caption {
    display: none;
}

.right {
    background: url("../images/car_model_2.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 55% center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em;
}
/* The Sign Up button */
.right-caption:first-of-type {
    width: 100%;
    text-align: right;
}
/* Design for Sign Up button */
.right-caption span {
    background-color: white;
    font-weight: bold;
    padding: 0.5em 1em;
    font-size: 1.25em;
    border-radius: 1em;
  }

.sign-up-form-3 {
    /* margin: 1em; */
    display: flex;
    flex-direction: column;
    /* flex-basis: unset; */
    /* align-items: center; */

    /* flex-wrap: nowrap; */

    /* gap: 1em; */
}

.registration-progress {
    height: 50px;
}

/* The Personal and Vehicle Information container (middle) */
.registration-information {
    height: 80%;
    overflow-y: auto;
}
/* Spacing between the three divs (Info, Personal Info section, and Vehicle info section) */
.registration-information > *{
    margin: 1em 0;
}

/* The <p> tag contains "review your information" */
/* .registration-information p {
    text-align: center;
} */
.registration-information hr {
    width: 80%;
    margin: 0 auto;
}

/* Personal Information and Vehicle Information
    Infos margin, every field
*/
.registration-information .registration-information-personal div,
.registration-information .registration-information-vehicle div{
    margin: 1em 0;
}

/* Center alignment for "Caption (review your information thingy)" and "Information Container Title (Personal, Vehicle)" */
.registration-information > p,
.registration-information-personal > div:first-child p,
.registration-information-vehicle > div:first-child p{
    text-align: center;
}
.registration-information-personal > div .info-user,
.registration-information-vehicle > div .info-user {
    margin-left: 2em;
}

.registration-information-personal > div,
.registration-information-vehicle > div{
    margin: 5px 0;
    display: flex;
    align-items: center;
}
.registration-information-personal > div:nth-child(1) p,
.registration-information-vehicle > div:nth-child(1) p{
    /* 
    Personal Information TITLE 
    Text align center
    */
    margin: 0 auto; 
    font-size: 1.25em;
    letter-spacing: 1px;
}
.registration-information-personal > div::before,
.registration-information-vehicle > div::before{
    background-repeat: no-repeat !important;
    background-position: center bottom;
    position: relative;
    height: 20px;
    width: 20px;
    
    margin-right: 10px;
    /* display: inline-block; */
    float: left;
}
.registration-information-personal > div:nth-child(2)::before{
    content: "";
    background: url("https://api.iconify.design/bxs/user-rectangle.svg?width=20&height=20");
}
.registration-information-personal > div:nth-child(3)::before{
    content: "";
    background: url("https://api.iconify.design/bxs/id-card.svg?width=20&height=20");
}
.registration-information-personal > div:nth-child(4)::before{
    content: "";
    background: url("https://api.iconify.design/bxs/user-pin.svg?width=20&height=20");
}
.registration-information-personal > div:nth-child(5)::before{
    content: "";
    background: url("https://api.iconify.design/fluent/mail-28-filled.svg?width=20&height=20");
    background-repeat: no-repeat !important;
}
.registration-information-personal > div:nth-child(6)::before{
    content: "";
    background: url("https://api.iconify.design/fa/phone-square.svg?width=19&height=17");
}

/* Vehicle Information */
.registration-information-vehicle > div:nth-child(2)::before{
    content: "";
    background: url("https://api.iconify.design/bi/car-front-fill.svg?width=19&height=17");
}
.registration-information-vehicle > div:nth-child(3)::before{
    content: "";
    background: url("https://api.iconify.design/icon-park-solid/hand-painted-plate.svg?width=19&height=17");
}

/* The input title such as Complete Name, ID Number, User Type etc. */
.registration-information-personal .info-title,
.registration-information-vehicle .info-title {
    font-weight: bold;
    display: block;
}
.registration-information-personal .info-user {
}

/* Position for divs */
.registration-information-personal > div,
.registration-information-vehicle > div {
    display: block;
}

/* Final Button */
/* OK button */
.sign-up-form-3 > div:last-child {
    display: flex;
    justify-content: space-between
}


#reg-goto-final:hover,
#reg-goto-back:hover {
    color: black;
    background: white;
    border: 2px solid black;
    border-color: transparent;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.25);
}
#reg-goto-final,
#reg-goto-back {
    color: white;
    background: black;
    padding: 1em 0;
    border-color: transparent;
    border-radius: 2em;
    font-size: 1em;
    padding: 0.5em 3em;
    font-weight: bold;
    margin: 0.5em;
    transition: all .5s ease;
}


/* Progress line design */
.horizontal-line {
    height: 5px;
    width: 150px;
    border: 3px solid black;
}
.dashed {
    border: 3px dashed black;
}

/* .icon-2 {
    background: url('https://api.iconify.design/ic/baseline-looks-two.svg?color=%23ffc700') no-repeat center center / contain;
    height: var(--progress-icon-height);
    width: var(--progress-icon-size);
    display: inline-block;
    
    outline: 5px solid black;
    outline-offset: -5px;
    border-radius: 1em;
} */

@media screen and (max-width: 960px) {
    .icon-1, .icon-2, .icon-3 {
        --size: 30px;

        /* background-size: var(--size); */
        height: calc(var(--size) - 5px);
        width: var(--size);
    }

    .container {
        flex-direction: column;
        width: max(90vw, 300px);
        height: 90vh;
        transition: all 0.1s ease;
        border-radius: .5em;
        padding: 1.5em 0;
    }
    .left {
        margin: auto 1.25em;
    }
    .sign-up-form-3 {

        height: 100%;
    }
    .right {
        display: none;
    }

    .page-navigation {
        flex-direction: column;
    }
    .page-navigation #reg-goto-final, 
    .page-navigation #reg-goto-back{
        margin: .5em 0;
        width: 100%;
    }


}