.container > div {
    flex: 1;
}
/* Register button */
.reg-next-page{
    text-align: right;
    width: 97%;
}
#reg-goto-page2 {
    background: black;
    color: white;
    /* padding: 1em 0; */
    border-color: transparent;
    border-radius: 2em;
    font-size: 1em;

    
    padding: 0.5em 3em;
    font-weight: bold;
    margin: 0.2em;
    transition: all .5s ease;
}
#reg-goto-page2 {
    text-transform: uppercase;
}
#reg-goto-page2:hover {
    color: black;
    background: white;
    border: 2px solid black;
    border-color: transparent;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.25);
}

/* Inputs */
input[type="text"], input[type="password"], 
input[type="email"], input[type="tel"], .user-type {
    width: 97%;
    margin: 0.25em;
}
input[type="text"], input[type="password"], 
input[type="email"], input[type="tel"] {
    border-radius: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    outline: 0;
    border: 2px solid black;
}
.user_input_name input {
    width: 97%;
}

/* Selection of User Type */
.user-type {
    display: flex;
    flex-direction: row;
}

/* User Type -> User input of real name */
.user_input_name {
    display: flex;
    width: 98%;
    justify-content: space-between;
}
.user_input_name div{
    flex: 1;
}
/* .user_input_name > div {
    width: 48%;
} */

.select-type1, .select-type2 {
    display: flex;
    align-items: end;
    padding: 0.5em;
    height: 75px;
    width: 50%;
    text-transform: uppercase;
    font-weight: 900;
}

.select-type1 {
    border-radius: 1em 0 0 1em;
    background-color: #E1DEFB;
    background-image: url("../images/registration/employee.png");
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: 100% 20%;
}
.select-type2 {
    border-radius: 0 1em 1em 0;
    background-color: #C7E8ED;
    background-image: url("../images/registration/students.jpg");
    background-size: 200px 100px;
    background-repeat: no-repeat;
    background-position: 55% center;
}


.select-type1 p {
    text-align: left;
    /* padding-top: auto; */
    /* vertical-align: text-bottom; */
}
.select-type2 p {
    text-align: right;
    /* margin-top: auto; */
}


/* For logo in Login Input */
.logo-text-input {
    background-repeat: no-repeat !important;
    background-position: 10px 50% !important;
    background-size: 25px !important;
    padding-left: 40px !important;
    padding-right: 15px !important;
}
.user_input_name input{
    padding-left: 10px;
    padding-right: 10px;

}

/* Adding Icon in User Input */
#signup-id {
    background: url("https://api.iconify.design/bxs/id-card.svg")
}
#signup-email {
    background: url("https://api.iconify.design/fluent/mail-28-filled.svg")
}
#signup-phone {
    background: url("https://api.iconify.design/fa/phone-square.svg?width=5&height=5")
}
#signup-password, #signup-cpassword {
    background: url("https://api.iconify.design/bxs/lock.svg")
}

/* Right side */
.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em;
}

.right-caption:first-of-type {
    /* width: 100%; */
    text-align: right;
}
.right-caption p, a {
    color: white;
    font-weight: bold;
}
.right-caption a {
    text-transform: uppercase;
    padding-left: 0.5em;
}
.right-caption:last-of-type {
    /* display: flex;
    flex-direction: row; */
    text-align: right;
    /* width: ; */
}
.right-caption > div {
    padding-top: 1em;
    padding-bottom: 1em;
    
} 
.right-caption span {
    background-color: white;
    font-weight: bold;
    padding: 0.5em 1em;

    font-size: 1.25em;
    border-radius: 1em;
}