@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("text.css");
@import url("scrollbar.css");

/* This style.css is used in registration forms */

:root {
    --progress-icon-size: 40px;

    --progress-icon-height: 40px;
    --progress-icon-width: 40px;

    --color-primary-btn: #ef7900;
    --color-primary-btn-hover: white;
    --color-text-and-border-1: white;
    --color-text-and-border-2: black;

    --error-container: #FACFCF;
    --error-header: #AF0303;
    --error-border: #F2B2B2;

    --success-border: #B3650A;
    --default-border: #E1E1E3;

    /* box-shadow: */
    --text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --btn-shadow: 0px 7px 6px 1px rgba(0, 0, 0, 0.25);
}


/* Caption on what to enter */
.caption {
    display: none;
}
.caption > h1 {
    color: var(--color-primary-btn);
}

/* .caption {
    display: none;
    position: absolute;
    width: 50%;
    background-color: white;
    color: black;
    text-align: center;
    top: 8%;
    left: 25%;
    border-radius: 100vmax;
    padding: 0.75em;
}
.caption p {
    font-weight: bold;
    font-size: 1em;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", "Lexend Deca", Arial, sans-serif;
    overflow: hidden;
}

body {
    height: 100vh;
    background: url("../images/bulsuMainGate_blurred.png");
    background-size: cover;
    background-repeat: no-repeat;

    /* -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(2px) brightness(120%); */
    /* -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(2px); */
}

select, input[type="text"], 
input[type="password"], input[type="email"] {
    /* border: none !important; */
    border: 1px solid black;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max(80vw, 800px);
    height: 550px;
    background: white;

    border-radius: 60px;

    display: flex;
    flex-direction: row;

    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 25px;
}

.divider {
    width: 5px;
    background: black;
}

/* .container :not(div:nth-child(2)) {
    flex: 1;
} */


.sign-up-form-1 {
    overflow-y: scroll !important;
}
.left {
    display: flex;
    height: fit-content;
    margin: auto 2em;
    flex-direction: column;
    height: 500px;
    /* justify-content: space-between; */
    
    /* Make it scrollable for other user inputs */
}

.right {
    background: url("../images/car_model_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 55% center;
    /* width: 50%; */
}

.registration-progress {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: gray; */
    width: 100%;
}

.icon-1 {
    background: url('https://api.iconify.design/ic/baseline-looks-one.svg?color=%23ffc700') no-repeat center center / contain;
    height: var(--progress-icon-height);
    width: var(--progress-icon-size);
    display: inline-block;
}
.icon-2 {
    background: url('https://api.iconify.design/ic/baseline-looks-two.svg?color=%23123') no-repeat center center / contain;
    height: var(--progress-icon-height);
    width: var(--progress-icon-size);
    display: inline-block;
}
.icon-3 {
    background: url('https://api.iconify.design/ic/baseline-looks-3.svg?color=%23123') no-repeat center center / contain;
    height: var(--progress-icon-height);
    width: var(--progress-icon-size);
    display: inline-block;
}

.progress-divider {
    width: 30%;

    outline: black dashed 3px;

    /* background-color: black; */
    border-radius: 100vmax;
}
.solid {
    outline: #ffc700 solid 3px;
}

.forgor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user_input {
    margin: 1em 0;
}

/* Top navigation, for smaller screens */
.small-top-nav {
    display: none;
}
