.container > div{
    flex: 1;
}

.left {
    justify-content: center;
}

.right {
    /* 
     */
}

.right-caption {
    text-align: right;
}

.sign-up-form-3 {
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    /* align-items: center; */

    /* flex-wrap: nowrap; */

    gap: .5em;
}

/* width or height of flex children */
/* flex-basis: 0 !important;  */
/* .sign-up-form-3 > div {
    flex-grow: 0;
    flex-shrink: 1;
}  */

/* The "Thank you for signing in" */
/* .sign-up-form-3 > div:nth-child(3) > * {
    margin: 1em 0;
} */

.sign-up-form-3 a {
    color: darkblue;
}

/* The OK button */
/* .sign-up-form-3 #reg-goto-final {
    
} */

/* Parent tag of OK Button */
.sign-up-form-3 > div:last-child {
    text-align: center;
}
/* OK button */
#reg-goto-final:hover, #reg-goto-final-verifyemail:hover {
    color: black;
    background: white;
    border: 2px solid black;
    border-color: transparent;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.25);
}
#reg-goto-final, #reg-goto-final-verifyemail {
    color: white;
    background: black;
    border-color: transparent;
    border-radius: 2em;
    font-size: 1em;
    padding: 0.5em 3em;
    font-weight: bold;
    /* margin: 0.5em; */
    /* margin-bottom: 1em; */

    height: inherit;
    width: 95%;
    transition: all .5s ease;
}

.icon-3 {
    background: url("https://api.iconify.design/ic/baseline-looks-3.svg?color=%23ffc700") no-repeat center center / contain;
    height: var(--progress-icon-height);
    width: var(--progress-icon-size);
    display: inline-block;

    outline: 5px solid black;
    outline-offset: -5px;
    border-radius: 1em;
}

.horizontal-line {
    height: 5px;
    width: 150px;
    border: 3px solid black;
}
.dashed {
    
    border: 3px dashed black;
}




.sign-up-form-3 h3 {
    text-align: center;
}
.message > * {
    margin: 1em 0;
}
.message {
    overflow-y: auto;
}

@media screen and (max-width: 960px) {
    .container {
        flex-direction: column;
        width: max(90vw, 300px);
        height: 90vh;
        transition: all 0.1s ease;
        border-radius: .5em;
        /* padding: 1.5em 0; */
    }
}