@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("styles/login_form.css");
@import url("styles/login_text.css");

:root {
    /* --color-primary-btn: #ef7900;
    --color-primary-btn-hover: white;
    --color-border-btn: black; 
    --color-border-btn-hover: #ef7900;  */

    --color-primary-btn: #ef7900;
    --color-primary-btn-hover: white;
    --color-text-and-border-1: white;
    --color-text-and-border-2: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend Deca", "Inter", Arial, sans-serif;
    overflow: hidden;
}
input[type="text"], input[type="email"], input[type="pass"] {
    outline: none;
}
button, input[type="submit"] {
    border: none;
    outline: none;
}

body {
    height: 100vh;
    background: url("images/garage-car-blurry.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

/* Title (Proceed to Login) */
/* .title {
    
} */

/* .title {
    margin: -0.5em 0;
} */
.title span:nth-child(1) {
    font-size: 1.5em;
    display: block;
}
.title span:nth-child(2) {
    position: relative;
    top: -0.1em;
    font-size: 3em;
    font-weight: 900;
    color: #EE8100;
}
/* .title  {
    font-size: 1rem;
}
.title > span {
    display: block;
    font-size: calc(1em - 0.25em);
} */



/* Button for Login and Signup */

#user_signup {
    width: 98%;
}
button, input[type="submit"], #user_signup {
    border: none;
    outline: none;
}
button, input[type="submit"], #user_signup {


    background: var(--color-primary-btn);
    border: 2px solid var(--color-text-and-border-1);
    color: var(--color-text-and-border-1);
    /* padding: 1em 0; */

    border-radius: 2em;
    font-size: 1.25em;
    padding: 0.5em 0;
    font-weight: bold;
    margin: 0.25em 0;

    transition: all .5s ease;
}
button:hover, input[type="submit"]:hover, #user_signup:hover{
    background: var(--color-primary-btn-hover);
    border: 2px solid var(--color-text-and-border-2);
    color: var(--color-text-and-border-1);

    color: black;
    background: white;
    border: 2px solid black;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.25);
}
/* .user_input #user_signup {
    color: var(--color-text-and-border-2);
    background-color: white;
    border: 2px solid #ef7900;
}
.user_input #user_signup:hover {
    background: var(--color-primary-btn);
    border: 2px solid var(--color-text-and-border-1);
    color: var(--color-text-and-border-1);
}
 */


.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max(80vw, 800px);
    /* width: 70%; max-width: 500px; min(500px, 70%) */
    /* width: 70%; min-width: 800px; max(800px, 70%) */


    height: 650px;
    background: white;

    border-radius: 60px;

    display: flex;
    flex-direction: row;

    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}

/* Forgot password link */
.container .forgor div:last-child {
    display: flex;
    justify-content: end;
}

.divider {
    width: 5px;
    background: black;
}

.container div {
    flex: 1;
}


.left {
    background: url("images/bulsuMainGate.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70% center;
    /* width: 50%; */
}

.right {
    /* width: 50%; */
    /* padding: 1% 3em; */
}

.right {
    display: flex;
    height: fit-content;

    /* padding: 1em; */
    margin: auto 3em;
    flex-direction: column;
    /* justify-content: space; */
}

.forgor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user_input {
    margin: 1em 0;
}


/* media queries */
@media screen and (max-width: 960px) {
    .left {
        display: none;
    }

    .container div {
        flex: none;
    }

    .container {
        flex-direction: column;
        width: max(90vw, 400px);
        height: 650px;
        /* max(max-width, width) */
    }

    .container .right-login-form {
        display: flex;
        align-items: center;
    }

     #user_forgot {
        width: inherit;
        text-align: right;
    }
}

/* On screens that are 600px wide or less, the background color is olive */
/* @media screen and (max-width: 600px) {
    body {
        background-color: olive;
        color: white;
    }
} */

/* http://stackoverflow.com/questions/13550541/ddg#13550716 */
/* default styles here for older browsers. 
    I tend to go for a 600px - 960px width max but using percentages
*/
/* @media only screen and (min-width: 960px) {
    styles for browsers larger than 960px;
}
@media only screen and (min-width: 1440px) {
    styles for browsers larger than 1440px;
}
@media only screen and (min-width: 2000px) {
    for sumo sized (mac) screens
}
@media only screen and (max-device-width: 480px) {
    styles for mobile browsers smaller than 480px; (iPhone)
}
@media only screen and (device-width: 768px) {
    default iPad screens
}

Different techniques for iPad screening 
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    For portrait layouts only
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    For landscape layouts only
} 
*/