@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("styles/login_form.css");
@import url("styles/login_text.css");

:root {

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend Deca", "Inter", Arial, sans-serif;
    overflow: hidden;
}

body {
    height: 100vh;
    background: url("images/garage-car-blurry.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

select, input[type="text"], input[type="password"] {
    /* border: none !important; */
    border: 1px solid black;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max(80%, 800px);
    /* width: 70%; max-width: 500px; min(500px, 70%) */
    /* width: 70%; min-width: 800px; max(800px, 70%) */


    height: 550px;
    background: white;

    border-radius: 60px;

    display: flex;
    flex-direction: row;

    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.divider {
    width: 5px;
    background: black;
}

.container :not(div:nth-child(2)) {
    flex: 1;
}


.left {
    background: url("images/bulsuMainGate.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70% center;
    margin: 1em;
    /* width: 50%; */
}

.right {
    /* width: 50%; */
    /* padding: 1% 3em; */
}

.right {
    display: flex;
    height: fit-content;
    margin: auto 3em;
    flex-direction: column;
    /* justify-content: space; */
}

.forgor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user_input {
    margin: 1em 0;
}


/* media queries */
@media screen and (max-width: 960px) {
    body {
        display: none;
    }
}

/* On screens that are 600px wide or less, the background color is olive */
/* @media screen and (max-width: 600px) {
    body {
        background-color: olive;
        color: white;
    }
} */

/* http://stackoverflow.com/questions/13550541/ddg#13550716 */
/* default styles here for older browsers. 
    I tend to go for a 600px - 960px width max but using percentages
*/
/* @media only screen and (min-width: 960px) {
    styles for browsers larger than 960px;
}
@media only screen and (min-width: 1440px) {
    styles for browsers larger than 1440px;
}
@media only screen and (min-width: 2000px) {
    for sumo sized (mac) screens
}
@media only screen and (max-device-width: 480px) {
    styles for mobile browsers smaller than 480px; (iPhone)
}
@media only screen and (device-width: 768px) {
    default iPad screens
}
/* different techniques for iPad screening */
/*
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    For portrait layouts only
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    For landscape layouts only
}
*/