/* bayon-regular - latin */




html {
    box-sizing: border-box;
}

/* The border box is inherited in HTML */
*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-color: #9D99BF;
    font-family: 'Bayon', sans-serif;
    font-style: normal;
    font-weight: 400px;
}
.container {
    height: 98vh;
    background-color: #1B192E;
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 100px 1fr;
    border-radius: 20px;
    grid-gap:10px;

}
/* sidebar */
.at {
    color: gray;
}
.horizontal-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.horizontal-line {
    background-color: rgba(255, 255, 255, 0.5);
    height: 3px;
    width: 300px;
}
.sidebar {
   background-color: #11101D;
   grid-row: 1/3;
   border-top-left-radius: 20px;
   border-bottom-left-radius:20px ;
}
.sidebar-logo {

    height: 36px;
}

/* Logo and the name of the system */
/* .admin-details-box {
    margin: 10px;
    margin-left: 30px;
    display: flex;
    align-items: center;
} */

.owner-box {
    display: flex;
    flex-direction: column;
    margin: 0; 
    padding: 10px;
    color: white;
}

.owner {
    font-size: 40px;
    height: 50px;
}

.sidebar ul {
    margin: 10px;
}
.sidebar ul li {
    list-style: none;
    color: white;
    cursor: pointer;
}

.menu {
    display: flex;
    align-items: center;
    margin: 10px;
    margin-left: 20px;
    padding: 10px;
    color: white;

    transition: .1s ease;
}

.fa {
    font-size: 25px;

}
.drop-box {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
#usersDropdown:hover {
    background-color: rgba(35, 32, 61, 1);
    border-radius: 20px;
}
/* #usersDropdown:active {
    background-color: rgba(35, 32, 61, .3);
    border-radius: 20px;
} */
button {
    background: none;
    border: none;
}
.dropdown-container {
    display: flex;
    flex-direction: column;
    display:none;
    padding-left: 90px;
} 
.dropdown-container a {
    text-decoration: none;
    color: white;
    font-size: 20px;
;
    
}
#usersDropdown {
    cursor: pointer;
    display: flex;
    width: 90%;
    font-family: 'Bayon', sans-serif;
}
.dt-button {
    border: 1px solid ;
    padding: 10px;
    cursor: pointer;
    border-radius: 15px;
}
.dt-button:hover {
    background-color: gray;
}
/* dropdown classes */
.active {
    background-color: rgba(35, 32, 61, 1);
    border-radius:  20px;
    
}
a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.menu:hover{
    background-color: rgba(35, 32, 61, 1);
    border-radius: 20px;
}
.menu:active{
    background-color: rgba(35, 32, 61, .3);
    border-radius: 20px;
}
.menu .title {
    margin-left: 20px;
    font-size: 30px;
}

/* header */
/* .header {
    background-color: #11101D;
    border-radius: 20px;
    margin-top: 10px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
} */
/* .logo-holder {
    display: flex;
    align-items: center;
    color: white;
    font-size: 40px;

    padding-left: 20px;
} */
.dashboard-logo {
    height: 48px;
    margin-right: 10px;
}
/* .util-holder {
   display: grid;
   grid-template-columns: 1fr 1fr;
   place-items: center;
} */
/* .search-box {
    display: grid;
    align-items: center;
    padding: 10px;
    grid-template-columns: 1fr 8fr;
    background-color: #1B192E;
    border-radius: 20px;
} */
#search {
    width: 90%;
    background: none;
    border: none;
    font-size: large;
    margin-left: 10px;
}
#search:focus {
    outline: none;
    color: white;
}

/* .utils {
    display: flex;
    justify-content: space-between;
    width: 60%;
} */
/* .util-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1B192E;
    border-radius: 10px;
    width: 48px;
    height: 48px;
} */
.util-divider {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 20px;
    height: 48px; 
}

/* content */
.content {
    /* background-color: green; */
    
    grid-column: 2/3;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 1fr;
    padding: 10px;
    grid-gap: 10px;
    overflow: auto;
}
.items {
    background-color: #11101D;
    border-radius: 20px;
    border: 3px solid rgba(32, 194, 97, 0.25);
    color: white;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 10px 10px;
    padding: 15px;

}
.percent-box {
    display: flex;
    
    border-radius: 20px;
    background-color: #157A55;
    height: 30px;
    width: 101px;
    justify-content: space-evenly;
    align-items: center;
}
.up-icon {
    height: 19px;
}
.percent-flex {
    display: flex;
    justify-content: center;
}
.percent {
    font-size: 24px;
}
.numbers {
    grid-column: 2/3;
    font-size: 100px;
    margin: 0;
    padding: 0;
}
.content-titles {
    font-size: 30px;   
    z-index: 1;
}
.box-table {
    background-color: whitesmoke;
    border-radius: 20px;
    color: black;
    padding: 20px;
}
/* .act-box {
    
}
.no-user-box {

}
.no-vehicle-box {

} */
.graphs-container {
    width: 15vw;
    margin-top: 20px;
}
.table-box {
    grid-column: 1/3;
    color: white;
    background-color: #11101D;
    display: flex;
    flex-direction: column;
}


#dataTable {
    width: 45vw;
    font-size: 20px;
}
.pie-chart-box {
    grid-column: 3/4;
}
.pie-chart-box {
    display: flex;
    flex-direction: column;
    
}
.pie-flex {
  
    display: flex;
    justify-content: center;
}
.distri-flex {
    display: flex;
    align-items: center;

}
.pie-container {
    width: 350px;
    height: 350px;
    margin: 20px;

}
.distri-title {
    margin-left: 13px;
}

/* ajax files CSS */

.ajax-container {
    display: flex; 
    flex-direction: column;
    grid-column: 1/4;
    grid-row: 1/3;
}

canvas {
    width: 500px;
    height: 500px;
}


/* user added css */
.school-logo-container {
    height: 80px;
    width: 80px; 

}
#bsuLogo {
    height: 80px;
    width: 80px
}
.pms-title-box {

    padding: 10px;
}
.pms-title {
    font-size: 20px;
}
.profile-box {

    height: fit-content;
}
.fullname {
    font-size: 30px;
    height: 35px;
}
.category {
    font-size: 20px;

}
    /* user-content css */
.user-content {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 50px;
    overflow: auto;
}

.welcome-box { 
    border: 3px dashed rgba(255, 255, 255, 0.25);
    background-color: #191925;
    border-radius: 20px;

}
.welcome-title-box {
    padding: 10px;
    margin: 10px;
    background-color:#11101D ;
    border-radius: 20px;

}
.welcome-title-holder { 
    display: flex;
    align-items: center;
}
.welcome-icon {
    margin-right: 10px;
}
.welcome-title {
    font-size: 30px;
    color: white;
}
.welcome-message {
    padding: 10px;
    padding-left: 40px;
    margin: 10px;
    color: white;
    font-size: 20px;
}
.tips-box {
    height: fit-content;
}
.tips-title {
    color: white;
    font-size: 30px;
}
/* .tips-items { 
    display: flex;
    align-items: center;
    background: #11101D;
    margin: 20px;
    padding: 20px;
    border-radius:20pt;
} */

.tips-logo {
    margin-right: 10px;
}
.tip {
    color: white; 
    font-size: 20px;
    width: 50%;
}
/* .take-me {
    color: white;
    width: 100%;
    display: flex;
    justify-content: flex-end;
} */

.qrbox {
    background-color: #11101D;
    border-radius: 20px;
    height: 300px;
}
/* .user-main {
    height: fit-content;
} */
/* .add-new-box {
    border: 1px solid red;
}
.add-twoF-box{

}
.fill-other-box {

}
 */

/* account user css */
 .account-container {
    display: flex;
    flex-direction: column;
 }
 .personal-box {
    border-radius: 20px;
    background-color: #11101D;
    display: flex;
    justify-content: center;
    padding: 10px;
 }
 .personal-title {
    font-size: 30px;
    color: white;
 }
 /* .personal-info-table {
    width: 90%;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
 } */
 /* .personal-info-table td  {

    max-width: 30px;

 } */
 /* .personal-edit-btn {
    text-align: center;
    cursor: pointer;
 } */

/* media queries */
@media only screen and (max-width: 1366px) {
    .container {
        height: fit-content;
        background-color: #1B192E;
        margin: 10px;
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 100px 1fr;
        border-radius: 20px;
        grid-gap:10px;
        
    }
    .content {
        display: grid;
        grid-template-columns: 1fr;
        overflow: auto;
        height: 100vh;
    }
    /* .no-user-box {
   

    }
    .no-vehicle-box {
 

    } */
    /* .table-box {
        grid-column:1;
    }
    .pie-chart-box {
        grid-column:1;
    } */
  }
.sample {
    border: 1px solid red;
    background: white;
    cursor: pointer;
}
.hide {
    display: none;
}